<% if signed_in?(:user) %>
  <% if current_user&.user? %>
    <li><%= link_to 'Users', users_path(current_user) %></li>
    <li><%= link_to 'Projects', projects_path(user_session, @projects) %></li>
 <li><%= link_to 'Tasks', tasks_path(user_session, @tasks) %></li>
</li>
    <% end %>
  <li><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()) %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Registration', new_user_registration_path %></li>
<% end %>
